<html>

<head>
    <title>Census Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="style.css" rel="stylesheet" />
</head>

<body>

    ##IF(data)##

    <h1>Census Data</h1>

    <div id="facets">
        During the 2018 Squirrel Census,

        ##VALUE(squirrel_count)##

        <select name="age" id="age">
            <option value="Adult">Adult</option>
            <option value="Juvenile">Juvenile</option>
        </select>

        <select name="color" id="color">
            <option value="Gray">Gray</option>
            <option value="Black">Black</option>
            <option value="Cinnamon">Cinnamon</option>
        </select>

        squirrels were observed

        <select name="location" id="location">
            <option value="Above Ground">Above Ground</option>
            <option value="Ground Plane">on the Ground Plane</option>
        </select>.

    </div>

    <div id="chart" style="height: 500px; width: 500px">
        <canvas id="canvas"></canvas>
    </div>

    <script>
        count = ##VALUE(squirrel_count)##
        points = ##VALUE(data_points)##
        set1_col = "#8e39a7"
        set2_col = "#39a78e"

        const data = {
            labels: ['Running', 'Climbing', 'Chasing', 'Eating', 'Foraging'],
            datasets: [
                {
                    label: 'Squirrels',
                    data: points,
                    fill: true,
                    backgroundColor: set1_col + "42",
                    borderColor: set1_col,
                    pointBackgroundColor: set1_col,
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: set1_col,
                }
            ]
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                elements: {
                    line: {
                        borderWidth: 3
                    }
                },
            },
        };

        const ctx = document.getElementById('myChart');
        new Chart(ctx, config)
    </script>

    <div id="footer">Data represents the number of squirrels observed performing described activities during the survey
        period.</div>

    </div>

    ##ELSE

    <div>No data available. <a href="#">Follow the tutorial instructions</a>.</div>

    ##ENDIF

</body>

</html>